.footer {
    background-color: #333;
    padding: 10px 20px;
    align-items: center;
  }
  .footer p {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }